h1, p, a {
    font-family: monospace;
    font-size: 100%;
}

header {
    background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 20px 0;
    border-bottom: 3px solid purple;
    text-align: right;
}

header > h1 {
    color: purple;
}

nav, aside, section {
    display: inline-block;
}

section {
    width: 50%;
    margin: 20px 0 0 32px;
}

section > p {
    text-align: left;
    color: black;
    width: 95%;
}

nav {
    width: 15%;
    margin: 5px 32px 0 9px;
    padding: 5px;
    background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
    border-bottom: 3px solid purple;
    border-top: 3px solid purple;
    float: left;
}

nav ul {
    list-style: square;
    padding: 5px 0 5px 50px;
}

nav li {
    text-align: left;
    margin-bottom: 5px;
    line-height: 2;
}

nav li a:hover {
    background-color: purple;
    color: white;
    font-weight: bold;
    padding: 1%;
}

nav:hover {
    background-image: linear-gradient(to bottom right, purple, pink, yellow, pink);
}

aside {
    width: 20%;
    margin: 20px 32px 0 32px;
    float: left;
}

aside > p {
    color: purple;
}

footer {
    background-image: linear-gradient(to bottom right, purple, pink, yellow, pink);
    width: 100%;
    border-top: 3px solid purple;
    margin: 20px 0 10px 0;
    padding: 10px 0;
    text-align: center;
}

footer > p {
    color: purple;
    size: 80%;
}